apiVersion: v1
kind: Service
metadata:
  name: my-ex-user-service
  labels:
    app: my-ex-user-service
spec:
  type: ClusterIP
  ports:
    - port: 3002
      targetPort: 3002
      protocol: TCP
      name: http
  selector:
    app: my-ex-user-service
